.stock-search-container {
   /*  width: 100%;
    padding: 80px 10; */
    
  }
  
  .stock-search-input {
    width: 100%;
    padding: 100px;
    border-radius: 6px;
    border: 1px solid #555;
    background: #111;
    color: white;
    font-size: 14px;
  }
  
  .stock-item {
    position: relative;
    margin-bottom: 12px;
  }
  
  .stock-remove-btn {
    position: absolute;
    right: 6px;
    top: 6px;
    background: transparent;
    border: none;
    color: #ff5555;
    font-size: 18px;
    cursor: pointer;
  }

 /*  .stock-search-container {
    padding: 1rem;
  } */