.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* width:13rem; */
    
    background: #e0e0e0;
    box-shadow: 4px 4px 8px #aaaaaa, -2px -2px 2px #ffffff;
    display: flex;
    flex-direction: column;
    
    
    padding:12px;
    

    
    width: 12rem;
    
    gap: 2px; 
    /* padding: 12px; */
  }
/* 
  .sidebar-logo {
    width: 10%;
} */

  
.profile-img {
  scale: 90%;
}
  
  
  .profile-button {
    margin-top: 10px;
   
  }

  @media (max-width: 768px) {
    .top-right-logo {
      display:none;

    }
   
  }

  body.dark .sidebar {
    background-color: #4e4e4e;
    box-shadow: 4px 4px 12px #2f2f2f;
    color: #fff;
  }
  
  .bar-header {
    color: #929292;
    align-items: center;
    padding:0px;
    margin-top:15px;
    margin-bottom:5px;
  }



  .profile-button {
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    
    gap: 30px; /* Space between the image and text */
    
    background: #e6e4e4;
    border-radius: 10px;
    box-shadow: /* inset */ 2px 2px 2px #aaaaaa, -2px -2px 2px #ffffff;
    transition: 0.9s all ease;
   
  }

  body.dark .profile-button {
    background-color: #4e4e4e;
    box-shadow: 2px 2px 2px #242424, -2px -2px 2px  #6c6c6c;
    color: #fff;
  }
  
  .profile-button:active {
    background: #d1d1d1;
    box-shadow: inset 2px 2px 4px #aaaaaa, inset -2px -2px 4px #ffffff;
  }
  
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -4px -4px 8px #aaaaaa, 4px 4px 8px #ffffff;
    margin-left:8px;
    background-color: #959595;
   
/*     scale: 120%;
 */  }

 body.dark .profile-img {
  background-color: #4e4e4e;
  box-shadow: -2px -2px 4px #2f2f2f, 2px 2px 4px  #767676;
  color: #fff;
}
  
.sidebar-buttons-container {
    display: flex;
    gap: 6px; 
    flex-direction: column; /* Stack buttons vertically */
    margin-top:5px;
    /* background-color: #aaaaaa; */  /* For finding divs: */
  }
  
 

.sidebar-button {
    font-size: 1rem;
    cursor: pointer;
    padding: 15px;
    display: flex;
    align-items: center;
    background: #e6e4e4;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #aaaaaa, -2px -2px 2px #ffffff;
    transition: background-color 0.5s ease;
    transform: translateY(5px); /* Shift up slightly */
    gap:80px;
    color:#000000;
    text-decoration: none; 
  }
  .label {
    width:15rem;
  }

  body.dark .sidebar-button {
    background-color: #4e4e4e;
    box-shadow: 2px 2px 2px #242424, -2px -2px 2px  #6c6c6c;
    color: #fff;
  }

  .sidebar-button:hover {
    background-color: #ff8400;
    transition: background-color 0.5s ease;
    color:white;
  }
  
  .sidebar-button:active {
  /*   background-color: #ff9e37; */ /* original color */
    background-color: #ff8400;
   
    box-shadow: inset 2px 2px 4px #aaaaaa, inset -2px -2px 4px #ffffff;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  

/* Browser Icon */
  .browser-icon {
    width: 20px; 
    height: 20px;
    box-shadow: 2px 2px 4px #868686, -2px -2px 4px #ffffff;
    border-radius: 25px;
    opacity: 75%;
  }
  body.dark .browser-icon {
    box-shadow: 2px 2px 2px #242424, -2px -2px 2px  #6c6c6c;
    color: #fff;
  }
  .sidebar-button.active .browser-icon {
    box-shadow:  2px 2px 4px #8f5800,
                 -2px -2px 4px #ffd690;
  }
  
/* Screen Icon */
  .screen-icon {
/*     display: relative; */    
    width: 20px; 
    height: 20px;
    box-shadow: 2px 2px 4px #868686, -2px -2px 4px #ffffff;
    border-radius: 3px;
/*     position: absolute;
 */  /*   margin-left: 10px; */
  }
  body.dark .screen-icon {
    box-shadow: 2px 2px 2px #242424, -2px -2px 2px  #6c6c6c;
    color: #fff;
  }
  .sidebar-button.active .screen-icon {
    box-shadow:  2px 2px 4px #8f5800,
                 -2px -2px 4px #ffd690;
  }
/* Clock Icon */
.clock-icon {
  width: 20px; 
  height: 20px;
  box-shadow: 2px 2px 4px #868686, -2px -2px 4px #ffffff;
  border-radius: 25px;
  /* margin-left: 18px; */
  
}
body.dark .clock-icon {
  box-shadow: 2px 2px 2px #242424, -2px -2px 2px  #6c6c6c;
  color: #fff;
}
.sidebar-button.active .clock-icon {
  box-shadow:  2px 2px 4px #8f5800,
               -2px -2px 4px #ffd690;
}

/* Weather Icon */
.weather-icon {
  width: 20px; 
  height: 20px;
  box-shadow: 2px 2px 4px #868686, -2px -2px 4px #ffffff;
  border-radius: 25px;
  /* margin-left: -4px; */
}
body.dark .weather-icon {
  box-shadow: 2px 2px 2px #242424, -2px -2px 2px  #6c6c6c;
  color: #fff;
}
.sidebar-button.active .weather-icon {
  box-shadow:  2px 2px 4px #8f5800,
               -2px -2px 4px #ffd690;
}

  .sidebar a {
   text-decoration: none;
}
  
  .sidebar a.active {
    background: #ff8400;
    color:white;
  }

  @media (max-width: 768px) {

    .sidebar {
      /* position: fixed; */
     
    display: flex;
    flex-direction: column;

   
  }

  .profile-button {
    font-size: 1rem;
    cursor: pointer;
    padding: 0px;
    display: row;
    align-items: center;
    justify-content: space-around;
    align-items: center;
   
    gap: 55px; /* Space between the image and text */
    margin-bottom: -6px;
    background: #e6e4e4;
    border-radius: 10px;
    box-shadow: /* inset */ 1px 1px 1px #aaaaaa, -2px -2px 2px #ffffff;
    transition: 0.9s all ease;
    margin-top: 2.2rem;
    padding: 3px;
    color:#000000;
    text-decoration: none;
  }
  
 
  .sidebar-logo {
    display: none;
  }

 .sidebar-buttons-container {
  gap: 5px;
  margin-top: 0rem;
 }

 .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: -2px -2px 4px #aaaaaa, 2px 2px 4px #ffffff;
  margin-left:0px;
  background-color: #959595;
 }

 .logout {
  display: grid;
 margin-top: 13rem;
 }

 .logout-btn {
padding: 10px;
background: #e6e4e4;
    border-radius: 8px;
    box-shadow: /* inset */ 2px 2px 2px #aaaaaa, -2px -2px 2px #ffffff;
        color:#000000;
    text-decoration: none;
    border: none;
 }


  }
